---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import '~/assets/styles/fundOperations.scss';

const meta = {
  title: "Fund Operations",
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title="Experience, expertise & execution."
    subtitle="Ten X Labs assists first-time Founders of color by providing Angel and pre-Seed financing coupled with a unique operational approach that improves business results and speeds up access to larger capital markets."
    bannerClass="hero-fund-operations"
  />

  <!-- Page content ******************** -->
  <section class="fund-operations second-level relative">
    <div class="second-level--title relative px-4 pt-8 md:pt-10 mx-auto max-w-8xl md:px-8 lg:pt-14 lg:px-10 xl:px-8 text-center">
      <div>
        <h3 class="lg:pb-2">How it Works</h3>
        <h2>Fund Operations Headline Here</h2>
      </div>
    </div>

    <div class="second-level--content relative px-4 py-4 md:py-10 mx-auto max-w-8xl md:px-8 lg:py-14 lg:px-10 xl:px-8">
      <!-- Start page content -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>Investment</h3>
          <h2>The Fund</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is a Venture Capital fund focused on first-time Founders. We combine Angel and pre-Seed investments with a unique operational Playbook, resulting in Seed-ready companies at a fraction of the normal cost. We work exclusively with first-time Founders of color, a rich pool of untapped talent that has been historically overlooked and underfunded.</p>
          <p>We lead the initial rounds and provide up to 100% of the Angel and pre-Seed funding for these startups, and we participate in our portfolio companies’ Seed rounds (although these will be led by outside firms).</p>
          <ul class="lg:grid lg:grid-cols-9 lg:gap-8">
            <li class="lg:col-span-3">Angel investment</li>
            <li class="lg:col-span-3">Pre-Seed investment</li>
            <li class="lg:col-span-3">Seed investment</li>
          </ul>
          <p>For the Angel investment, we utilize a Safe agreement. You can request a sample by contacting Ten X Labs.</p>
          <p>The Ten X Labs’ pre-Seed investment establishes a class of Preferred stock, and the Safe agreement converts. At this time, Ten X Labs requires that an option pool be set up and also takes a seat on the Company’s Board.</p>
          <p>The Seed investment terms will be established by a third party. It’s not the intention of Ten X Labs to lead this round, but we expect to participate for our pro-rata share.</p>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>Expertise</h3>
          <h2>The Playbook</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Many Angel funds rely on the law of large numbers to hedge the execution risk of early stage investments. Ten X Labs has developed a due diligence and operational model that de-risks the first-time Founder investment. We do this by implementing a high-touch start-up and operating skills model alongside our investment. In doing so, Ten X Labs intends to maximize the probability of success even for first-time Founders. The Ten X Labs Playbook focuses on:</p>
          <ul class="lg:grid lg:grid-cols-9 lg:gap-8">
            <li class="lg:col-span-3">Pre-defined KPIs prior to every stage of investment</li>
            <li class="lg:col-span-3">Air cover for Founders to focus on achieving those KPIs</li>
            <li class="lg:col-span-3">Connections to operating experts</li>
          </ul>
          <p>Before each investment, Ten X Labs and the Founder agree on what needs to be “proved” next. KPIs are established.</p>
          <p>There are a great many details to starting a company. Many first-time Founders either get lost in those details, feeling they need to master everything on Day One, or they ignore them; both are paths to failure. Ten X Labs provides guidance to the Founder on what’s important and what’s not. We help plug in the “back office” expertise where needed, allowing the Founder to focus on their idea, and how to monetize it. And we give them the confidence to tell people what they are and should be focused on.</p>
          <p>Check out the <a href="/ten-x-playbook">Ten X Playbook</a></p>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>People</h3>
          <h2>The Expertise</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is comprised of people who are adept at executing the financial and operational aspects of the Fund. Because this fund works exclusively with first-time Founders, we combine investment with expertise.</p>
          <ul class="lg:grid lg:grid-cols-9 lg:gap-8">
            <li class="lg:col-span-3">General Partners</li>
            <li class="lg:col-span-3">Operating Partners</li>
            <li class="lg:col-span-3">Service Partners</li>
          </ul>
          <p>General Partners Chip Davis and Phil Gilbert have been working together for over 20 years. Chip has a long history in venture capital as General Partner of Houston Ventures (HV). HV was one of the first VCs in Houston. Chip is a CPA in the Commonwealth of Virginia, holds Series 7 and 63 licenses and has advised dozens of early-stage tech companies over the past 30 years. Phil is from the operational side, having founded his own startup in 1984, and serving as CTO and President of two others. He spent the past decade as one of the senior executives at IBM, which had acquired Phil’s third startup in 2010.</p>
          <p>Ten X Labs Operating Partners are all previous or current Founders, some of who have come through the Ten X Labs program. They are the “feet on the ground” with each of our Fund’s founders. They spend weekly time with each new founder and at the pre-Seed round stage, they take the Fund’s Board seat. This approach not only keeps the Ten X Labs Playbook front and center, but also accelerates the trust needed by everyone on the team in early-stage startups.</p>
          <p>Ten X Labs has an established network of service partners including lawyers, accountants, design and development firms and other service providers that can handle tasks if the Founders don’t already have those relationships. In each case, the Service Partner knows the Ten X Labs principals and Playbook, and so can slot into service without friction and at favorable, pre-negotiated rates.</p>
        </div>
      </div>
      <!-- New content section -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h2>If You’re a Prospective Founder</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs is constantly looking for passionate, resilient and visionary Founders. We’d love for you to contact us if you have the desire to become a Ten X Labs Founder. In general, we’re looking for new businesses with this profile:</p>
          <p>The projects where we can add the most value look like this:</p>
          <ul class="lg:grid lg:grid-cols-9 lg:gap-8">
            <li class="lg:col-span-3">Multiple co-Founders</li>
            <li class="lg:col-span-3">Technology-related product or service</li>
            <li class="lg:col-span-3">Some form of the product or service is in use, even if no revenues (most will have no revenues at this point)</li>
            <li class="lg:col-span-3">Clear point of view on who the buying customer/user is</li>
            <li class="lg:col-span-3">Some idea of how you expect to monetize the offering</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
