---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { Accordion, AccordionItem } from 'accessible-astro-components'
import '~/assets/styles/tenXPlaybook.scss';

const meta = {
  title: "Ten X Playbook",
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
    title="Repeatable, sustainable, success."
    subtitle="Ten X Labs assists first-time Founders of color by providing Angel and pre-Seed financing coupled with a unique operational approach that improves business results and speeds up access to larger capital markets."
    bannerClass="hero-playbook"
  />

  <!-- Page content ******************** -->
  <section class="fund-operations second-level relative">
    <div class="second-level--title relative px-4 pt-8 md:pt-10 mx-auto max-w-8xl md:px-8 lg:pt-14 lg:px-10 xl:px-8 text-center">
      <div>
        <h3 class="lg:pb-2">How it Works</h3>
        <h2>Prescribed Execution Framework</h2>
      </div>
    </div>

    <div class="second-level--content relative px-4 py-4 md:py-10 mx-auto max-w-8xl md:px-8 lg:py-14 lg:px-10 xl:px-8">
      <!-- Start page content -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>6 Weeks</h3>
          <h2>Evaluate the Founder</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Ten X Labs conducts a no-cost, one-on-one, six week program where we explore three critical startup areas with the Founders:</p>
          <Accordion>
            <AccordionItem
              header="Product/Market fit"
            >
              <p>Founders are required to research their markets and are exposed to the pitfalls of being an engineering-driven company versus one that builds in a customer-driven feedback loop from the start. We explore exactly which KPIs the company should focus on, now, and what type of management, consultant and teaming structure is needed. We work with the Founders to establish a budget and how to focus spending on the things that matter for this stage of their business.</p>
            </AccordionItem>
            <AccordionItem
              header="Operations and Team"
            >
              <p>This one-on-one approach enables Ten X Labs Partners to observe Founders at work, exposing those attributes that have the highest probability of startup success. These include critical thinking skills, work ethic and the collaborative ability and communications skills required to create alignment across a team, both internally and externally.  All of this occurs before Ten X Labs offers our Term Sheet to any Founder.</p>
            </AccordionItem>
            <AccordionItem
              header="Financial Acumen"
            >
              <p>NEED CONTENT</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>

      <!-- Start page content -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>3-6 Months</h3>
          <h2>Validate the Market</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>Once Ten X Labs has made its initial (Angel) investment, we will work closely with the Founder focusing on Product/Market Fit. A Ten X Labs Operating Partner will be assigned to the company and with the Founder, we will establish specific KPIs where these investment dollars will be spent to achieve results. Ideally, we want to exit this period with the following:</p>
          <Accordion>
            <AccordionItem
              header="A user-validated prototype or v1 offering"
            >
              <p>The KPIs are established prior to the Angel investment. They may reflect some objective result (e.g. number of paying users) or, more likely at this stage, a sequence of user behaviors that cumulatively provide evidence of product market fit. We are not looking for scalable revenues at this point, but rather validation that the problem exists and that this solution is a viable one.
            </p>
            </AccordionItem>
            <AccordionItem
              header="Removal of all technical uncertainty around that offering"
            >
              <p>At this stage, we have only working theories regarding how to economically scale revenues and early hypotheses into fundamental profitability of the business (i.e. gross margins and their scalability).</p>
            </AccordionItem>
            <AccordionItem
              header="An evidence-based hypothesis for route to market"
            >
              <p>During this phase, Ten X Labs also works with the Founders to start mapping out the organizational roles that will be required at the next stage of their growth, and the company will have begun to recruit for those roles.</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>

      <!-- Start page content -->
      <div class="second-level--content-section second-level--border pt-4 lg:pt-8 lg:pb-4 lg:grid lg:grid-cols-12 lg:gap-8">
        <div class="second-level--content-left lg:col-span-4">
          <h3>9-12 Months</h3>
          <h2>Establish the Business</h2>
        </div>
        <div class="second-level--content-right lg:col-span-8">
          <p>If the company hits their previous KPIs, the intention is for Ten X Labs to make a follow-on Pre-Seed investment and to move the assigned Operating Partner to a Board seat. While the product spend will continue to grow during this phase, we also begin working with the Founders to build their business (as opposed to the almost maniacal focus on product during the Angel phase). To prepare the business for an outside-led Seed round, the Pre-Seed phase is focused on:</p>
          <Accordion>
            <AccordionItem
              header="Proven marketing and sales results"
            >
              <p>Again, by working with the Founders before the pre-Seed round is closed, Ten X Labs helps establish specific KPIs they need and expect to achieve. The focus is on preparing the business for an outside-led Seed round from a traditional VC.</p>
            </AccordionItem>
            <AccordionItem
              header="Removal of all technical uncertainty around that offering"
            >
              <p>In general, the Founders’ focus now needs to turn to Revenues and Gross Margins.</p>
            </AccordionItem>
            <AccordionItem
              header="An evidence-based hypothesis for route to market"
            >
              <p>The principal operating system installed is one of continuous improvement. We work with the Founders on team dynamics, their newly-defined option pool and how to think about startup compensation. Ten X Labs also continuously works with the Founders to help them become confident juggling their larger responsibilities as well as their communications with a growing network of financing alternatives.</p>
            </AccordionItem>
          
            <!-- ... -->
          
          </Accordion>
        </div>
      </div>
    </div>
  </section>

  <!-- Playbook CTA -->

  <section class="relative home-playbook playbook-page mb-8">
    <div class="home-playbook--border relative px-4 pt-4 md:py-10 mx-auto max-w-8xl lg:py-14 lg:px-12">
      <div class="home-playbook--container lg:flex lg:space-x-3">
        <div class="home-playbook--left-content lg:w-2/5 lg:pr-4 ">
          <h3>Founder Mantra</h3>
          <h2>We change the typical early-stage risk dynamic by indexing more on the quality of the Founder rather than the proven performance of the idea.</h2>
        </div>
      </div>
    </div>
  </section>
</Layout>